{% load static %}

{% load crispy_forms_tags %}


<html>
    <head>
        <title> Cigman | Register </title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sketchy/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}"/>



    </head>

    <br>

    <div class="home-page container bg-white shadow-md p-5 " style="width: 500px; ">
        <h1> Register </h1>

        <br>

        <form method="POST" autocomplete="off" >
            {% csrf_token %}

            {{form.username|as_crispy_field}}

            <br> <br>

            {{form.email|as_crispy_field}}

            <br> <br>

            {{form.password1|as_crispy_field}}

            <br> <br>

            {{form.password2|as_crispy_field}}

            <br> <br>




            <input type="submit" class="btn btn-primary" value="Submit">

            <br> <br>

            <p> Already have an account? <a href="{% url 'my-login' %}"> Login </a> </p>


        </form>


    </div>

    <br>




</html> 